<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>InfoVis UE 2023</title>

    <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='styles/style.css')}}">

    <script src="https://d3js.org/d3.v7.min.js"></script>
    <script src="https://unpkg.com/topojson@3"></script>

</head>
<body>

<h1>InfoVis UE 2023 - Exercise 2</h1>
<p>Enter your name and Matrikelnummer</p>


<div id="main_container" class="main_container">
<div class="container">
    <label>Indicator:</label>
<select id="indicator_dropdown" class="dropdown">
    {% for col in plot_df.columns %}
        {% if col != 'Country Name' and col != 'year' %}
            <option value="{{ col }}">{{ col }}</option>
        {% endif %}
    {% endfor %}
</select>
    <p id="map_country">&nbsp;</p>
    <svg id="svg_map"></svg>
</div>
<div class="container">
    <p id="country">&nbsp;</p>
    <svg id="svg_plot"></svg>
</div>
</div>

<div id="svg_line_chart">
</div>

<script>
    let data = {{ data | safe }};
    console.log(data);
</script>

<script src="{{ url_for('static', filename='js/map.js') }}"></script>
<script>initMap()</script>

</body>
</html>