<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>InfoVis UE 2023</title>

    <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='styles/style.css')}}">

    <script src="https://d3js.org/d3.v7.min.js"></script>
    <script src="https://unpkg.com/topojson@3"></script>

</head>
<body>

<h1>InfoVis UE 2023 - Exercise 2</h1>
<p>Stefan Weingärtner 00502640 & Joerg Wegscheider 00212105</p>


<div id="main_container" class="main_container">
    <div class="container">
        <label>Indicator:</label>
        <select id="indicator_dropdown" class="dropdown">
            {% for col in variables %}
                <option value="{{ col }}">{{ col }}</option>
            {% endfor %}
        </select>
        <p id="map_country">&nbsp;</p>
        <svg id="svg_map"></svg>
    </div>
    <div class="container">
        <p id="country">&nbsp;</p>
        <div id="scatterplot"></div>
    </div>
    <div class="container">
        <p id="country">&nbsp;</p>
        <div id="lineplot"></div>
    </div>
</div>
    

<script src="{{ url_for('static', filename='js/map.js') }}"></script>
<script src="{{ url_for('static', filename='js/scatterplot.js') }}"></script>
<script src="{{ url_for('static', filename='js/dispatch.js') }}"></script>
<script src="{{ url_for('static', filename='js/lineplot.js') }}"></script>

<script>
    let data = {{ data | safe }};
    let selected_countries = {{ selected_countries | tojson }}
    let countryForLinePlot = selected_countries[0]
    let dropdown = document.getElementById("indicator_dropdown");
    let selectedOption = { value: dropdown.value };
    dropdown.addEventListener("change", function() {
        selectedOption.value = this.value;
    });

    initMap(selected_countries)
    scatterplot({{ pca_df | safe }})
    lineplot({{ data | safe }})
</script>

</body>
</html>